@using MatBlazor
@inherits LayoutComponentBase

<MatAppBarContainer>
    <NavMenu />
    <MatAppBarContent>
        <main>
            @Body
        </main>
    </MatAppBarContent>
</MatAppBarContainer>
