@using MatBlazor

<MatAppBar Fixed="true">
    <MatAppBarRow>
        <MatAppBarSection>
            <MatAppBarTitle>
                <a href="/">
                    Pokedex
                </a>
            </MatAppBarTitle>
        </MatAppBarSection>
    </MatAppBarRow>
</MatAppBar>
