@using Pokedex.Models;

<div>
  @foreach (var type in @Types)
  {
    <span class="pokemon-type pokemon-type-@type.Type.Name">@type.Type.Name</span>
  }
</div>

@code {
  [Parameter]
  public PokemonType[] Types { get; set; }
}